<div class="container">
  <div class="row">
    <div class="col-6 col-sm-2 logo-column">
      <a href="https://langnang.github.io" class="logo">
        <img src="https://langnang.github.io/favicon.ico" alt="logo">
      </a>
    </div>
    <div class="col-6 col-sm-10 nav-column clearfix">
      <div class="right-nav">
        <div class="header-social">
          <a href="https://github.com/langnang" style="font-size: 25px;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <nav id="menu" class="d-none d-lg-block">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/vue">Vue</a></li>
          <li class="has-child">
            <a href="https://github.com/topics/awesome" target="_blank">
              Awesome
              <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="https://github.com/sorrycc/awesome-javascript" target="_blank">
                  awesome-javascript
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li><a href="https://github.com/jobbole/awesome-javascript-cn" target="_blank">
                  awesome-javascript-cn
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/jobbole/awesome-css-cn" target="_blank">
                  awesome-css-cn
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/vuejs/awesome-vue" target="_blank">
                  awesome-vue
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
            </ul>
          </li>
          <li class="has-child">
            <a href="#/">
              Toolkits
            </a>
            <ul class="sub-menu">
              <li>
                <a href="https://github.com/sorrycc/awesome-javascript" target="_blank">
                  awesome-javascript
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li><a href="https://github.com/jobbole/awesome-javascript-cn" target="_blank">
                  awesome-javascript-cn
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/jobbole/awesome-css-cn" target="_blank">
                  awesome-css-cn
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/vuejs/awesome-vue" target="_blank">
                  awesome-vue
                  <i class="fa fa-external-link-alt" style="font-size: 10px;"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
